[submodule "bundle/vinegar"]
	path = bundle/vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "bundle/ruby-minitest"]
	path = bundle/ruby-minitest
	url = git@github.com:sunaku/vim-ruby-minitest.git
